%aside#search-container
  %section#search-box
    = form_tag('/locations', method: :get, id: 'form-search') do

      %section#search-options

        = render 'component/search/category'
        = render 'component/search/filters'
        = render 'component/search/keyword'
        = render 'component/search/geolocate'

      .search-button-container
        %span#reset "reset"

