%aside#search-container
  %section#search-box
    = form_tag('/locations', method: :get, id: 'form-search') do

      %section#search-options

        = render 'component/search/keyword'
        = render 'component/search/category'
        = render 'component/search/filters'
        = render 'component/search/geolocate'

      .search-button-container
        = button_tag(type: 'submit', name: nil, class: 'button-small update-button') do
          = t('buttons.update_search_results')

