= form_tag('/locations', method: :get, id: 'form-search') do
  %section#search-box
    %div
      %div.search-form
        = label_tag 'prompt', t('labels.homepage_prompt')
        %section#keyword-search-box
          = label_tag 'keyword', t('labels.homepage_search')
          .input-search-big
            = search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.homepage_keyword_search'), tabindex: 1
        %section#location-search-box
          = hidden_field_tag 'location'
          = label_tag 'keyword', t('labels.homepage_location_search')
          .input-search-big
            = search_field_tag :keyword, params[:keyword], placeholder: t('placeholders.homepage_location_search'), tabindex: 2
        = button_tag(type: 'submit', name: nil, id: 'button-search', class: 'landing-button-icon', title: 'Search', tabindex: 3) do
          %span
            = t('buttons.homepage_search')
