%div.filter-label-container
  = label_tag :filters, t('labels.filters.filters_menu_title'), class: 'filter-header-label'
  
%div.category-filters-container
  %div.parent-category-label-container
    = label_tag "", "#{category_name_by_id(params[:categories])} #{t('labels.filters.category_filter_title')}", class: 'parent-category-label'
    %div.filter-dropdown-closed
      %i.fa.fa-chevron-right
  %ul#subcategoriesList
    - subcategories_by_category(params[:categories]).each do |category|
      %li.filter-category-item.hide
        = check_box_tag category[1]
        = label_tag category[0]


%div.filter-actions-container
  = label_tag(t('buttons.hide_filters'), nil, id: 'button-hide-filters')
  = label_tag(t('buttons.show_filters'), nil, id: 'button-show-filters')
  = label_tag(t('buttons.collapse_filters'), nil, id: 'button-collapse')
  = label_tag(t('buttons.clear_filters'), nil, id: 'button-reset')