%div.filter-label-container
  = label_tag :filters, t('labels.filters.filters_menu_title'), class: 'filter-header-label'

- if @main_category_selected_name == ""
  %div#categoryFiltersContainerDiv.category-filters-container.hidden
    %div.parent-category-label-container{ tabindex: "0"}
      %legend
        %span#subcategoriesFilterTitle.parent-category-label
      %div#filterDropdownContainer.filter-dropdown-closed
        %i#iconContainer.fa.fa-chevron-right
    %fieldset#subcategoriesList
  
- else
  %div#categoryFiltersContainerDiv.category-filters-container
    %div.parent-category-label-container{ tabindex: "0"}
      %legend
        %span#subcategoriesFilterTitle.parent-category-label
          = "#{category_filters_title(@main_category_selected_name)}"
      %div#filterDropdownContainer.filter-dropdown-closed
        %i#iconContainer.fa.fa-chevron-right
    %fieldset#subcategoriesList
      - subcategories_by_category(@main_category_selected_id).each do |category|
        - id_string = "category_#{category.delete('&').delete(' ')}"
        %div.filter-category-item.hide
          - if params[:categories]
            = check_box_tag( 'categories[]', category, params[:categories].include?(category) , id: id_string)
            = label_tag id_string, category
          - else
            = check_box_tag( 'categories[]', category, false , id: id_string)
            = label_tag id_string, category

%div.filter-actions-container
  = label_tag(t('buttons.hide_filters'), nil, id: 'button-hide-filters')
  = label_tag(t('buttons.show_filters'), nil, id: 'button-show-filters')
  = label_tag(t('buttons.collapse_filters'), nil, id: 'button-collapse')
  = label_tag(t('buttons.clear_filters'), nil, id: 'button-reset')