%div.filter-label-container
  = label_tag :filters, t('labels.filters.filters_menu_title'), class: 'filter-header-label'
  
%div.category-filters-container
  %div
    %span#subcategoriesFilterTitle
      = "#{category_name_by_id(params[:categories])}"
    %span
      = "#{t('labels.filters.category_filter_title')}"

  %ul#subcategoriesListContainer
    - subcategories_by_category(params[:categories]).each do |category|
      %li
        = check_box_tag category[1]
        %span 
          = category[0]


%div.filter-actions-container
  = label_tag(t('buttons.hide_filters'), nil, id: 'button-hide-filters')
  = label_tag(t('buttons.show_filters'), nil, id: 'button-show-filters')
  = label_tag(t('buttons.collapse_filters'), nil, id: 'button-collapse')
  = label_tag(t('buttons.clear_filters'), nil, id: 'button-reset')