<tr class='user-row'>
  <td class='data last-name'><%= user.last_name %></td>
  <td class='data first-name'><%= user.first_name %></td>
  <td class='data email'><%= user.email %></td>
  <td class='data admin'><%= user.admin ? t('_yes') : '&nbsp;'.html_safe %></td>
  <td class='button delete-user'>
    <%= form_for(user, as: user, url: delete_user_path(user.id), html: { method: :delete }) do |f| %>

      <div class="actions">
        <%= f.submit t('users.delete_user') %>
      </div>
    <% end %>
  </td>
  <td class='button edit-user'>
    <%= form_for(user, as: user, url: edit_user_path(user.id), html: { method: :get }) do |f| %>

      <div class="actions">
        <%= f.submit t('users.edit_user') %>
      </div>
    <% end %>
  </td>
</tr>