<div class='devise edit-profile'>

  <%= render 'nav_buttons' %>

  <%= content_tag :span, nil, class: 'fa fa-user fa-3x' %>
  <h2>
    <%= t('users.edit_your_profile') %>
  </h2>

  <div class='form'>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field first-name">
        <%= f.label :first_name %><br />
        <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
      </div>

      <div class="field last-name">
        <%= f.label :last_name %><br />
        <%= f.text_field :last_name, autocomplete: "last_name" %>
      </div>

      <div class="field email">
        <%= f.label :email %><br />
        <% if current_user&.admin? %>
          <%= f.email_field :email, autocomplete: "email" %>
        <% else %>
          <div><%= resource.email %></div>
        <% end %>
      </div>

      <div class="field organization">
        <%= f.label :organization %><br />
        <%= f.text_field :organization, autocomplete: "organization" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password" %>
        <% if @minimum_password_length %>
          <br />
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password" %>
      </div>

      <% if current_user&.admin? %>
        <div class="field">
          <div class="admin">
            <%= f.check_box :admin %>
            <%= f.label :admin %><br />
          </div>
        </div>
      <% end %>

      <div class="actions">
        <%= link_to t('users.cancel'), root_path, class: 'button' %>
        <%= f.submit t('users.save'), class: 'button button-small' %>
      </div>
    <% end %>
  </div>
</div>
