<div class='devise user-list'>

  <%= render 'nav_buttons' %>

  <%= content_tag :i, nil, class: 'fa fa-users fa-3x' %>
  <h2>
    <%= t('users.manage_users') %>
  </h2>

  <table>
    <tr class='headings'>
      <th class='data last-name'><%= t('users.last_name') %></th>
      <th class='data first-name'><%= t('users.first_name') %></th>
      <th class='data email'><%= t('users.email') %></th>
      <th class='data admin'><%= t('users.admin') %></th>
      <th class='button delete-user'>&nbsp;</th>
      <th class='button edit-user'>&nbsp;</th>
    </tr>
    <% @users.each do |user| %>
      <%= render partial: "user_row", locals: { user: user } %>
    <% end %>
  </table>
</div>