<div class='devise add-user'>
  <% if current_user&.admin? %>

    <%= render 'nav_buttons' %>

    <%= content_tag :span, nil, class: 'fa fa-users fa-3x' %>
    <h2>
      <%= t('users.add_user') %>
    </h2>

    <div class='form'>
    <p class='instructions'>
      After adding a users information and email address, a link will be sent to their email to create a password.
    </p>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="field first-name">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name" %>
        </div>

        <div class="field last-name">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, autocomplete: "last_name" %>
        </div>

        <div class="field email">
          <%= f.label :email %><br />
          <%= f.email_field :email, autocomplete: "email" %>
        </div>

        <div class="field organization">
          <%= f.label :organization %><br />
          <%= f.text_field :organization, autocomplete: "organization" %>
        </div>

        <div class="field">
          <div class="checkbox">
            <%= f.check_box :admin %>
            <%= f.label :admin, t('users.check_if_admin') %><br />
          </div>
        </div>

        <div class="actions">
          <%= link_to t('users.cancel'), users_path, class: 'button' %>
          <%= f.submit t('users.save'), class: 'button button-small' %>
        </div>
      <% end %>
    </div>
  <% else %>
    To obtain an account, please contact the Baltimore City Health Department.
  <% end %>
</div>
