%section#category-topics
  .topics#covid-19
    .critical-topic
      %a{href: "#{locations_path keyword: 'Covid 19'}"}
        %span{class: "fa fa-medkit critical"}
        %p.title
          COVID-19 RESOURCES
  %h2
    = t('labels.topic_prompt')
  .topics
    - SETTINGS[:homepage_topics].each_key do |topic|
      .topic
        %a{href: "#{locations_path keyword: topic.titleize}"}
          %span{class: "fa fa-#{SETTINGS[:homepage_topics][topic]}"}
          %p.title
            = topic.titleize
