- title 'Report an issue'
= alert_tag(flash)

.about
  %main.main
    %div.about-container
      .contact
        %h1 Reporting an issue on #{@resource.name}
        .flag-form
          %section.feedback-form
            Thank you for sending feedback about this resource.
            %br
            Please tell us more about the issue you identified.
            = form_for :flag, url: flag_path  do |f|
              = hidden_field(:flag, :resource_type, value: @resource_type)
              = hidden_field(:flag, :resource_id, value: @resource_id)
              = f.fields_for :report_attributes do |rf|
                %br
                %p
                  = rf.check_box :hours_location_contact_info_incorrect, style: "width: 3%; float:left"
                  = rf.label "Hours, Location, Contact info incorrect", style: "width: 97%;"
                  = rf.text_area :hours_location_contact_info_incorrect, placeholder: "Please share your correction", disabled: true, class: "js-input-field"
                %p
                  = rf.check_box :the_service_listed_are_incorrect, style: "width: 3%; float:left"
                  = rf.label "The services listed are incorrect", style: "width: 97%;"
                  = rf.text_area :the_service_listed_are_incorrect, placeholder: "Please share your correction", disabled: true, class: "js-input-field"
                %p
                  = rf.check_box :the_eligibility_how_to_access_or_waht_to_bring_is_incorrect, style: "width: 3%; float:left"
                  = rf.label "The eligibility, how to access, or what to bring is incorrect", style: "width: 97%;"
                  = rf.text_area :the_eligibility_how_to_access_or_waht_to_bring_is_incorrect, placeholder: "Please share your correction", disabled: true, class: "js-input-field"
                %p
                  = rf.check_box :other, style: "width: 3%; float:left"
                  = rf.label "Other", style: "width: 97%;"
                  = rf.text_area :other, placeholder: "Please share your correction", disabled: true, class: "js-input-field"
              %p
                = f.check_box :email, style: "width: 3%; float:left"
                = f.label "I am employee of the org"
                = f.email_field :email, value: current_user&.email, class: "js-input-field", style: "display:none"
              -# %p
              -#   = f.label(:description)
              -#   = f.text_area(:description)
              = f.button 'Send!', class: 'button-plain', type:"submit"

