%div.about-container
  .about-summary
    %img{ src: asset_path(SETTINGS[:site_logo_alt]), alt: "#{SETTINGS[:site_title]} Logo", class: "logo"}
    = t('views.about.charmcare_summary_html')
    = link_to SETTINGS[:baltimore_accountable_health_community] do
      %button.button-plain
        = t('views.about.learn_more')
  %h1
    = t('views.about.real_time_capacity_header')

  .real-time-summary
    = t('views.about.real_time_capacity_html')
    %div.capacity-icons
      %span
      %i.fa.fa-check-circle-o
      %i.fa.fa-chevron-right

    = t('views.about.real_time_capacity_cont_html')